
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px;
  background-color: white;
  border-bottom:  1px solid #ccc;
  z-index: 1000;
}

@media (max-width: 600px) {
  .header {
    padding: 10px 2vw;
  }
  .header__logo {
    width: 38px;
  }
}

.header__logo {
  width: 60px;
}
